/**
 * badges.css
 * A small CSS module for building simple badges.
 *
 * Author: Josivaldo Junior
 * License: MIT
 * Lastest Update: 07/06/2020 12:32 PM (Brazilian Time)
 */

/**
 * Default Badges
 */

.badge {
	display: inline-block;
	margin: .125em;
	padding: .35em .5em;
	border-radius: .25em;
	line-height: 1;
	font-size: .85em;
	letter-spacing: normal;
	border: 1px solid #e8e8e8;
	background: #e8e8e8;
	color: #5d5d5d;
	text-decoration: none;
	vertical-align: middle;
}

/**
 * Colored Badges
 */

.badge.badge-primary {
	background: #3867d6;
	color: #fff;
	border-color: #3867d6;
}

.badge.badge-secondary {
	background: #4b6584;
	color: #fff;
	border-color: #4b6584;
}

.badge.badge-success {
	background: #20bf6b;
	color: #fff;
	border-color: #20bf6b;
}

.badge.badge-warning {
	background: #f7b731;
	color: #fff;
	border-color: #f7b731;
}

.badge.badge-danger {
	background: #eb3b5a;
	color: #fff;
	border-color: #eb3b5a;
}

.badge.badge-info {
	background: #2d98da;
	color: #fff;
	border-color: #2d98da;
}

/**
 * Joined Badges
 */

 .join-badges {
 	display: inline-block;
 	letter-spacing: -5em;
 }

 .join-badges .badge:not(:first-child) {
 	border-top-left-radius: 0;
 	border-bottom-left-radius: 0;
 	border-left: none;
 	margin-left: 0;
 }

 .join-badges .badge:not(:last-child) {
 	border-top-right-radius: 0;
 	border-bottom-right-radius: 0;
 	border-right: none;
 	margin-right: 0;
 }
