*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", helvetica, arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	width: 100%;
}

a.link:link, a.link:visited {
	color: #3867d6;
	text-decoration: none;
}

a.link:hover, a.link:active { text-decoration: underline; }

.btn {
	display: inline-block;
	text-decoration: none;
	margin-bottom: 1.5rem;
	padding: .75rem 1.25rem;
	border-radius: 3.5rem;
	text-transform: uppercase;
	line-height: 1rem;
	letter-spacing: .125rem;
	color: #fff;
}

.btn:first-of-type { margin-right: .25rem; }

.btn.btn-tweet { background: #1b95e0; }

.btn.btn-tweet:active,
.btn.btn-tweet:focus,
.btn.btn-tweet:hover { background: #0c7abf; }

.btn.btn-github { background: #444; }

.btn.btn-github:active,
.btn.btn-github:focus,
.btn.btn-github:hover { background: #2b2b2b; }

h1 {
	margin-bottom: 1rem;
	font-size: 2.5rem;
}

h4 {
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	font-weight: 300;
}

header,
section,
footer { 
	display: block;
	max-width: 45rem;
	margin: 0 auto;
	padding: 2rem;
}

header { text-align: center; }

hr { border-top: 1px dashed #000; }

p { font-size: 1.25em; }

p:not(:last-child) { margin-bottom: 1rem; }

h1 + p { margin-top: -1rem; }

code {
	font-size: 1em;
	font-weight: 400;
	padding: .25em;
	border-radius: .15em;
	background: #f5f5f5;
	color: #e83e8c;
	white-space: nowrap;
}

code.block {
	display: block;
	padding: .5rem;
	border-radius: .5rem;
	background: #2d3748;
	color: #fff;
	overflow-x: auto;
}

code.block .tag { color: #93ddfd; }

code.block .tag-name, code.block .function { color: #ff8383; }

code.block .attr-name { color: #ffe484; }

code.block .attr-value { color: #b5f4a5; }

.example:not(:last-child) {margin-bottom: 1rem; }

.example div:not(:first-child) { padding-top: 1rem; }
